// Dark shades of the Primary Color
$clr-primary-0: hsl(100, 40%, 21%);
$clr-primary-1: hsl(100, 40%, 29%);
$clr-primary-2: hsl(100, 40%, 37%);
$clr-primary-3: hsl(100, 40%, 45%);
$clr-primary-4: hsl(100, 40%, 52%); // Primary color
$clr-primary-5: hsl(100, 40%, 60%);
$clr-primary-6: hsl(100, 40%, 67%);
$clr-primary-7: hsl(100, 40%, 74%);
$clr-primary-8: hsl(100, 40%, 81%);
$clr-primary-9: hsl(100, 40%, 88%);
// Light shades of the primary color

// Dark shades of the secondary color
$clr-secondary-0: hsl(210, 45%, 21%);
$clr-secondary-1: hsl(210, 45%, 29%);
$clr-secondary-2: hsl(210, 45%, 37%);
$clr-secondary-3: hsl(210, 45%, 45%);
$clr-secondary-4: hsl(210, 45%, 52%); // Secondary color
$clr-secondary-5: hsl(210, 45%, 60%);
$clr-secondary-6: hsl(210, 45%, 67%);
$clr-secondary-7: hsl(210, 45%, 74%);
$clr-secondary-8: hsl(210, 45%, 81%);
$clr-secondary-9: hsl(210, 45%, 88%);
// Light shades of the secondary color

// Dark shades of text color
$clr-text-0: hsl(210, 20%, 21%);
$clr-text-1: hsl(210, 20%, 29%);
$clr-text-2: hsl(210, 20%, 37%);
$clr-text-3: hsl(210, 20%, 45%);
$clr-text-4: hsl(210, 20%, 52%); // Text color
$clr-text-5: hsl(210, 20%, 60%);
$clr-text-6: hsl(210, 20%, 67%);
$clr-text-7: hsl(210, 20%, 74%);
$clr-text-8: hsl(210, 20%, 81%);
$clr-text-9: hsl(210, 20%, 88%);
// Light shades of text color